.fa-exchange-alt{
    transform: rotate(90deg);
    color:#A5A8B3;
    font-size: 11px;
    margin-left: 0.5rem;
}
.titleTable{
         color:#A5A8B3;
         font-size: 11px;
     }
#contenido{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
  
}
.btn-primary{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    background-color: #32D5A4;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
  
}
.containerBuscador{
display: flex;
flex-direction: row;

}
.containerBuscador input{
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 30px;
    width: 350px;
    height: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;

}
.containerBuscador p{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 18px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;

}
.bi-search{
    color:#A5A8B3;
    position: absolute;
    margin-left: 30px;
    margin-top: 27px;
    
}
.iconoEnPlaceholder{
    position: relative;
}
